* {
  box-sizing: border-box;
}

body {
  background: #1f2937;
  margin: 0;
  padding: 0;
  min-width: 360px;
  font-family: "Inter", sans-serif;
}

.head-section {
  text-align: center;
  padding: 0;
  margin: 5em auto;
}

h1 {
  font-family: "Karla", sans-serif;
  padding: 0;
  margin: 5em auto 1em;
  font-size: 2rem;
  color: #fff;
}

#lineTwo {
  color: #4adf86;
}

h2 {
  font-size: 1.125rem;
  color: #d5d4d8;
  margin-top: 0.5em;
}

button {
  margin-top: 1em;
  cursor: pointer;
  border: none;
  border-radius: 0.45em;
  padding: 1em 1.25em;
  background-color: #10b981;
  color: #fff;
  font-size: 1rem;
}

button:hover {
  background-color: #53cba3;
  color: #1f2937;
}

.bottom-section {
  display: flex;
  justify-content: center;
}

.line {
  border: 1px solid #2f3e53;
  margin: 35px 52px;
}

input {
  border-radius: 0.45em;
  text-align: center;
  border: none;
  background: #273549;
  width: 40%;
  font-size: 0.8rem;
  margin: 0 1.25em;
  color: #55f991;
  padding: 1em 1.125em;
}

@media (min-width: 768px) {
  .head-section {
    top: 3em;
    text-align: left;
    margin-left: 3em;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5em;
  }
  button {
    padding: 1em 1.25em;
    font-size: 1.125rem;
  }
  input {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .head-section {
    padding: 0;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5em;
  }
  button {
    padding: 1em 1.125em;
    font-size: 1.125rem;
  }
  input {
    width: 35%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .head-section {
    padding: 0;
  }
  h1 {
    font-size: 3.125rem;
  }
  h2 {
    font-size: 1.725rem;
  }
}
